<main class="main-style">
  <div class="header">
    <%= image_tag(image_path("BIZZ-01.png"), alt: "logo", class: "logo") %>
    <div>
      <p>CATEGORIES</p>
    </div>

    <div>
      <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "sign-out" %>
    </div>
  </div>

  <p style="color: green"><%= notice %></p>

<div class="container">
  <div id="categories">
    <% if @categories.empty? %>
      <div class="message">There are no categories to display. Add one.</div>
    <% else %>
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
    <% end %>
  </div>
  </div>


  <footer>
  <div class="actions">
  <%= link_to "New category", new_category_path, class: "new-cate" %>
  </div>
  </footer>
</main>
