<%= render partial: 'partials/header', locals: { page: 'TRANSACTIONS' } %>
<p style="color: green"><%= notice %></p>
<div id="transactions">
  <% if @transactions.empty? %>
    <div class="message">There are no transactions to display. Add one.</div>
  <% else %>
    <% @transactions.each do |transaction| %>
      <%= render transaction %>
    <% end %>
  <% end %>
</div>
<div class="total">
  <h5>Total Amount:</h5>
  <p>$<%= @total %></p>
</div>
<div>
  <%= link_to "New transaction", new_transaction_path, class: "btn btn-secondary" %>
</div>
<div>
  <%= link_to "Show this transaction", @transaction %> |
  <%= link_to "Back to transactions", transactions_path %>
</div>
